.body-content{
    background-color: rgb(255, 255, 255);
}
.grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
}
.gird-item{
    font-size: 1.2rem;
    text-align: left;
}
.left{
    position: relative;
}

.right{
    padding-top: 20px;
    padding-left: 40px;
    grid-column-start: 2;
}

