.footer{
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
    border-top: 1px solid rgb(34 43 84 / 5%);
}
.footer-link{
    font-size: 1.2rem;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
}
.footer-link p{
    margin: 5px;
}
.privacy :hover ,.term :hover{
    cursor: pointer;
    color: rgb(129, 129, 129);
}
.footer-logo{
    font-size: 2rem;
    background-image: linear-gradient(90deg,#0093e9,#80d0c7);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-bottom: 0;
    cursor: pointer;
}